:root {
  --background-colour: #f3f3f3;
  --title-colour: #000000;
  --button-text-colour: #ffffff;
  --info-text-colour: #ffffff;
  --button-colour: #f64900;
  --optimal-route-colour: #6dc567;
  --optimal-route-colour-hover: #8ad185;
  --edge-colour: #7fc3cf;
  --permutation-colour: #ffcc6c;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-colour);
}

h1 {
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0;
}

p {
  margin: 0rem;
  font-size: 1.2rem;
}

button {
  border-style: none;
  padding: 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 4px;
  color: var(--button-text-colour);
  font-family: inherit;
  font-size: 1rem;
}

.page-container {
  text-align: center;
  width: 1032px;
  margin: auto;
}

#canvas {
  background-color: white;
  margin: auto;
}

.control-container {
  text-align: center;
  margin: 0rem;
}

#optimal-route-button {
  margin-bottom: 0.5rem;
}
.config-button {
  background-color: (var(--background-colour));
  color: var(--title-colour);
}

.config-button:hover {
  color: var(--button-colour);
}

.action-button {
  background-color: var(--button-colour);
  color: var(--button-text-colour);
}

.action-button:hover {
  background-image: linear-gradient(45deg, #f64900, #ff4582);
}

#pick-count-message-container {
  margin-bottom: 1rem;
}

.results-container {
  margin: auto;
}

.results-div {
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
  color: var(--title-colour);
  font-family: inherit;
  font-size: 1rem;
  position: relative;
  color: var(--info-text-colour);
}

.edges-div {
  background-color: var(--edge-colour);
}
.routes-div {
  background-color: var(--permutation-colour);
}
.optimal-route-div {
  background-color: var(--optimal-route-colour);
}
.optimal-route-div:hover {
  background-color: var(--optimal-route-colour-hover);
  cursor: pointer;
}

.my-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 1rem 0rem 0rem 1rem;
}

i {
  margin-right: 0.5rem;
}

.my-info {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: var(--title-colour);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;

  position: relative;
}

.modal-text {
  margin-top: 1rem;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#optimal-route-title {
  display: none;
}
#edge-results-title {
  display: none;
}
#route-permutations-title {
  display: none;
}

.visualise-optimal-route {
  width: fit-content;
  position: absolute;
  color: var(--info-text-colour);
}

.cost-display {
  width: fit-content;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
